@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain(msn.com), domain(nytimes.com), domain(spiked-online.com), domain(theregister.com), domain(ubuntupit.com), domain(noemamag.com), domain(theatlantic.com), domain(yahoo.com), domain(areomagazine.com), domain(michaelrectenwald.com), domain(fastcompany.com), domain(forbiddenstories.org), domain(substack.com), domain(medium.com), domain(unherd.com), domain(americanmind.org), domain(indiafacts.org), domain(theintercept.com), domain(github.io), domain(vadakkus.com), domain(scrollstack.com),  domain(startpage.com), domain(fee.org), domain(theconversation.com), domain(dedoimedo.com), domain(newindianexpress.com), domain(scrollstack.com), domain(stck.me), domain(bigthink.com), domain(fortuneindia.com), domain(smithsonianmag.com), domain(businessinsider.com), domain(reuters.com), domain(tabletmag.com), domain(cnet.com), domain(spectator.co.uk), domain(nationalinterest.org), domain(dharmadispatch.in), domain(the1991project.com), domain(dailywire.com), domain(infogalactic.com), domain(arktos.com), domain(lowtechmagazine.com), domain(anarchonomicon.com), domain(takimag.com), domain(thenation.com), domain(honest-broker.com), domain(abortretry.fail), domain(ageofinvention.xyz), domain(ieee.org) {
	html, body, div, p, #content {
     font-size: 14px;
		line-height: 11pt;
    }
/* theatlantic*/
	p[class ^="ArticleParagraph"] {
     font-size: 18px;
    }
/* yahoo*/
	.caas p {
		font-size: 14px;
	}
/*areomagazine*/
	p[class *="dropcap"] {
     font-size: 14px;
  }
/*thenation.com*/
	p[class *="has-drop-cap"] {
     font-size: 14px;
    }
	p[class *="content-output"] {
		 font-size: 14px;
	}
	/*vadakkus*/
	#the-post .entry-content, #the-post .entry-content p {
    font-size: 12px;
	}
	/*substack.com*/
	article p {
		font-size: 14px;
		line-height: 22px;
	}
	/*fee.org*/
	.single-article p {
		font-size: 14px;
		line-height: 11pt;
	}
	p[class="text-container"] {
		font-size: 1em;
	}
	.content p {
		font-size: 14px;
		line-height: 11pt;
	}
	/*businessinsider.com*/
	.typography p {
		font-size: 14px;
		line-height: 12pt;
	}
	/*nationalinterest.org*/
	.detail__content {
		font-size: 8px;
		line-height: 11pt;
	}
	/*dharmadispatch.in*/
	div[id="text-element"] {
		font-size: 14px;
		line-height: 11pt;
	}
	/*dailywire.com*/
	div[id="post-body-text"] {
		font-size: 12px;
		line-height: 11pt;
	}
	div[id="post"] {
		font-size: 14px;
		line-height: 11pt;
	}
	div[class"available-content"]{
		font-size: 12px;
		line-height: 11pt;
	}

}
